
<%= @post.title%>
<br>
<%= @post.content%>
<br>
Authored by: <%= @post.user.username %>

 <form action="<%=post_url(@post)%>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="hidden" name="_method" value="DELETE"> 
      <input type="Submit" value="Delete Post">
</form>

<% @post.comments.each do |comment| %>
<ul><li>
<%= comment.content %>
</li></ul>
<% end %>
<a href="<%= new_post_comment_url(@post) %>">New Comment</a>
<a href="<%=subs_url%>">Go back to all subs.</a>
