
<%= @sub.title %>
<br>
<%= @sub.description %>
<br>
Authored by: <%= @sub.moderator.username %>


 <form action="<%=sub_url(@sub)%>" method="POST">
      <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
      <input type="hidden" name="_method" value="DELETE"> 
      <input type="Submit" value="Delete Sub">
</form>


<a href="<%=subs_url%>">Go back to all subs.</a>
<a href="<%=new_sub_post_url(@sub)%>">New Post</a> 

<h1>Posts In This Sub </h1>

<ul><% @sub.posts.each do |post| %>
    <li>
        <a href="<%=post_url(post)%>"><%= post.title %></a>
    </li>
  <% end %>
</ul>
